Repository DeveloperAcademy-POSTECH/2025-C4-M6-OMR, pull requests merged in 2025-07, with the labels that each got.

#68 ✨ Feat: #9 MyRecordBottomSheet 기능 및 BottomSheet 개선
  Packages/Features/Sources/Features/Main/MainView.swift
  Packages/Features/Sources/Features/Main/MockDataProvider.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/FullScreenModalView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheet.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheetViewModel.swift
Labels: MainView, MyRecordBottomSheet

#73 ✨ Feat: #41 RecordSaveSheetView 및 사진 선택 기능 구현
  Packages/Features/Sources/Features/RecordComplete/RecordCompleteView.swift
  Packages/Features/Sources/Features/RecordComplete/RecordCompleteViewModel.swift
  Packages/Features/Sources/Features/RecordSave/PhotoSelectionView.swift
  Packages/Features/Sources/Features/RecordSave/RecentPhotosView.swift
  Packages/Features/Sources/Features/RecordSave/RecordSaveSheetView.swift
  Packages/Features/Sources/Features/RecordSave/RecordSaveSheetViewModel.swift
  Packages/Features/Sources/Features/RecordSave/SwiftUIView.swift
Labels: RecordSaveSheetView

#77 Feature/72 main view my record bottom sheet UI
  App/Assets.xcassets/backgroundColor1.colorset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Foundation/DSColor.swift
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/backgroundColor1.colorset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/backgroundColor2.colorset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/flowerLogo.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/flowerLogo.imageset/FlowerLogo.png
  Packages/Features/Sources/Features/Main/ARButton.swift
  Packages/Features/Sources/Features/Main/LocationManager.swift
  Packages/Features/Sources/Features/Main/MainView.swift
  Packages/Features/Sources/Features/Main/MockDataProvider.swift
  Packages/Features/Sources/Features/Main/SheetPosition.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/AllRecordButtonView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/FilteredMoteListView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/FullScreenModalView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/HeaderBarView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MapPreviewView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MoteItemView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheet.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheetViewModel.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordFullScreenModalView.swift
Labels: MainView, MyRecordBottomSheet

#79 Feature/78 FlowerSelctionBottomSheet 기능 구현 및 UI
  Packages/Features/Sources/Features/FlowerSelect/FlowerCardView.swift
  Packages/Features/Sources/Features/FlowerSelect/FlowerModel.swift
  Packages/Features/Sources/Features/FlowerSelect/FlowerSelectionBottomSheet.swift
  Packages/Features/Sources/Features/FlowerSelect/FlowerSelectionBottomSheetViewModel.swift
  Packages/Features/Sources/Features/FlowerSelect/FlowerSelectionPriview.swift
  Packages/Features/Sources/Features/FlowerSelect/MockMarker.swift
  Packages/Features/Sources/Features/Main/MockDataProvider.swift
  Packages/Features/Sources/Features/Main/dataModel.swift
Labels: CreateObjectBottomSheet

#84 ✨ Feat: #80 커스텀 AlertPopup 컴포넌트 추가
  Packages/DesignSystem/Sources/DesignSystem/Components/DSAlert.swift
Labels: component

#87 Hotfix. Design System fix
  Packages/DesignSystem/Sources/DesignSystem/Foundation/DSColor.swift
  Packages/Features/Sources/Features/Main/MainView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheet.swift
Labels: bug

#96 ✨ Feat: #75 버튼 컴포넌트 구현
  Packages/DesignSystem/Sources/DesignSystem/Components/DSAlert.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/DSButton.swift
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/buttonFlower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/buttonFlower.imageset/flower 4 1.pdf
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/homeflower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/homeflower.imageset/homeflower.pdf
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/piumFlower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/piumFlower.imageset/bi_flower2.svg
  Packages/Features/Sources/Features/Main/ARButton.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheet.swift
Labels: design-system, component

#93 ♻️ Refactor. 통합된 CustomModalView로 MyRecordBottomSheet와 MyRecordFullSc…
  Mote.xcodeproj/project.pbxproj
  Packages/Features/Sources/Features/Main/MainView.swift
  Packages/Features/Sources/Features/Main/MainViewModel.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/CurrentLocationMapView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/CustomModalView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MapPreviewView.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordBottomSheet.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/MyRecordFullScreenModalView.swift
Labels: MyRecordBottomSheet

#105 Refactor. Fix conflict
  Packages/.DS_Store
  Packages/DesignSystem/Sources/DesignSystem/Components/DSAlert.swift
  Packages/DesignSystem/Sources/DesignSystem/Components/DSButton.swift
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/buttonFlower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/buttonFlower.imageset/flower 4 1.pdf
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/homeflower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/homeflower.imageset/homeflower.pdf
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/piumFlower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/piumFlower.imageset/bi_flower2.svg
Labels: bug

#101 Refactor/95 MapView 데이터연결 및 MyRecordView,MapView Navigation 연결
  Packages/Features/Sources/Features/Main/MockDataProvider.swift
  Packages/Features/Sources/Features/Map/MapView.swift
  Packages/Features/Sources/Features/Map/MapViewModel.swift
  Packages/Features/Sources/Features/Map/MapViewRepresentable.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/CustomModalView.swift
  Packages/Features/Sources/Features/MyRecordView/MyRecordModel.swift
  Packages/Features/Sources/Features/MyRecordView/MyRecordView.swift
  Packages/Features/Sources/Features/MyRecordView/MyRecordViewModel.swift
  Packages/Features/Sources/Features/MyRecordView/RecordCard.swift
  Packages/Features/Sources/Features/MyRecordView/RecordList.swift
  Packages/Features/Sources/Features/Record/RecordDetail/RecordDetailBottomSheet.swift
  Packages/Features/Sources/Features/Record/RecordDetail/RecordDetailViewModel.swift
  Packages/Features/Sources/Features/Shared/Router/AppRoute.swift
  Packages/Features/Sources/Features/Shared/Router/NavigationHostView.swift
Labels: MapKit, RecordMapView

#139 ♻️ Refactor: RecordDetailView의 title placeholder 및 save 버튼 로직 개선 및 MapView UI 개선
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/MainFlower.imageset/Contents.json
  Packages/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Image/MainFlower.imageset/Mainflower_S.pdf
  Packages/Features/Sources/Features/Map/MapView.swift
  Packages/Features/Sources/Features/Map/MapViewRepresentable.swift
  Packages/Features/Sources/Features/Record/RecordDetail/RecordDetailBottomSheet.swift
  Packages/Features/Sources/Features/Record/RecordDetail/RecordDetailViewModel.swift
Labels: RecordDetailBottomSheet

#151 Fix/137 arview optimization
  Packages/Features/Sources/Features/ARCamera/ARCameraView.swift
  Packages/Features/Sources/Features/ARCamera/ARCameraViewModel.swift
  Packages/Features/Sources/Features/ARCamera/ARCameraViewModelFactory.swift
  Packages/Features/Sources/Features/ARCamera/Components/ARStatusView.swift
  Packages/Features/Sources/Features/ARCamera/Mapper/RecordMapper.swift
  Packages/Features/Sources/Features/ARCamera/placement/ARPlacementState.swift
  Packages/Features/Sources/Features/ARCamera/placement/ARSceneManager.swift
  Packages/Features/Sources/Features/MyRecordBottomSheet/CustomModalView.swift
  Packages/Features/Sources/Features/Shared/Router/NavigationHostView.swift
Labels: ARCameraView

#157 ♻️ Refactor: #152 AR 배치 관련 UI 개선 및 안내 문구 수정
  Packages/Features/Sources/Features/ARCamera/ARCameraView.swift
  Packages/Features/Sources/Features/ARCamera/ARCameraViewModel.swift
  Packages/Features/Sources/Features/ARCamera/Components/ARBottomBarView.swift
  Packages/Features/Sources/Features/ARCamera/Components/ARStatusView.swift
  Packages/Features/Sources/Features/ARCamera/placement/ARSceneManager.swift
  Packages/Features/Sources/Features/Record/RecordDetail/RecordDetailBottomSheet.swift
  Packages/Features/Sources/Features/RecordSave/RecordSaveSheetView.swift
Labels: ARCameraView
